html {
    background: #DCE3E6;
    padding: 0 %
}

* {
    text-align: left;
}

p {

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3 {
    display: inline-block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body {
    padding: 0%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    font: 1.156em/1.3 My Gill Sans, Lato, sans-serif;
    font-size-adjust: 0.45;
    color: #333;
    text-align: center;
    position: relative;
    background: #fff;
    box-shadow: 0 0.3em 1em #000;
}


.menu-principal {
    width: 100%;
    background-color: #a90020;
    height: 120px;

}

ul {
    padding: 0px !important;
}

.logo {
    padding: 25px;
    float: left;
    margin-left: 175px;
}

.redes-sociais ul li {
    display: inline-block;
    float: right;
    list-style: none;
    margin: 12px;
    padding: 5px;
}

.redes-sociais {
    width: 30%;
    float: right;
    margin-right: 200px;
}

.main {
    margin: auto;
    width: 980px;
    position: relative;

}

.header-2 {
    background: color #333;
    width: 100%;
    width: 980px;
    margin: 0 auto;
}

.menu-urls {
    border-bottom: 5px solid #efefef
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;

}

.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    margin: 15px;
}

.menu {
    width: 70%;
    float: left;
}

.busca {
    width: 30%;
    float: right;
    margin-top: 15px;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.texto1 {
    margin: 1em auto;
    display: block;
    width: 8em;
    text-align: center;
    width: 906px;

}